@import "tailwindcss";


/* @theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */

@keyframes toast-bar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-toast-bar {
  animation: toast-bar 4s linear forwards;
}

.scrollbar-hide {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
